---
import config from "@/config/config.json";
const { src, srcDarkmode } = Astro.props;
const { logo, logo_darkmode, logo_width, logo_height, title } = config.site;
const { theme_switcher } = config.settings;
---

<a href="/" class="navbar-brand inline-block py-2">
  <img
    src={src ? src : logo}
    alt={title}
    class={`inline-block w-auto h-auto max-h-[90px] object-contain ${theme_switcher && "dark:hidden"}`}
    width={logo_width.replace("px", "")}
    height={logo_height.replace("px", "")}
  />
  {theme_switcher && (
    <img
      src={srcDarkmode ? srcDarkmode : logo_darkmode}
      alt={title}
      class="hidden dark:inline-block w-auto h-auto max-h-[90px] object-contain"
      width={logo_width.replace("px", "")}
      height={logo_height.replace("px", "")}
    />
  )}
</a>
