---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="flex flex-col items-center justify-center py-10 md:pt-14 md:pb-10">

      <div class="mb-8 w-full flex justify-center">
        <Logo />
      </div>

      <ul class="flex flex-wrap justify-center gap-x-4 lg:gap-x-10 my-3">
        {
          menu.footer.map((menu) => (
            <li class="footer-link">
              <a href={menu.url}>{menu.name}</a>
            </li>
          ))
        }
      </ul>

    </div>
  </div>
</footer>
