---
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import Base from "@/layouts/Base.astro";
import { getCollectionProducts } from "@/lib/shopify";

const { products: anillos } = await getCollectionProducts({ collection: "Anillos" });
const { products: aretes } = await getCollectionProducts({ collection: "Aretes" });
const { products: pulseras } = await getCollectionProducts({ collection: "Pulseras" });
---

<Base>
  <section class="section pt-14">
    <div class="container">
      <div class="text-center mb-6 md:mb-10">
        <h2 class="mb-2">Anillos</h2>
        <p class="md:h5 text-white/70">Nuestra selección exclusiva</p>
      </div>
      <FeaturedProducts products={anillos} />
    </div>
  </section>

  <section class="section bg-theme-light/5 dark:bg-darkmode-theme-light/5">
    <div class="container">
      <div class="text-center mb-6 md:mb-10">
        <h2 class="mb-2">Aretes</h2>
        <p class="md:h5 text-white/70">Elegancia en cada detalle</p>
      </div>
      <FeaturedProducts products={aretes} />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-10">
        <h2 class="mb-2">Pulseras</h2>
        <p class="md:h5 text-white/70">Macramé y Oro de 18k</p>
      </div>
      <FeaturedProducts products={pulseras} />
    </div>
  </section>
</Base>
